<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Primary Meta Tags -->
  <title>Tío Cripto - Finanzas explicadas con memes y manzanas 🍎</title>
  <meta name="title" content="Tío Cripto - Finanzas explicadas con memes y manzanas 🍎">
  <meta name="description" content="Aprende a manejar tu dinero de forma rápida y sencilla.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.tiocripto.com/">
  <meta property="og:title" content="Tío Cripto - Finanzas explicadas con memes y manzanas 🍎">
  <meta property="og:description" content="Aprende a manejar tu dinero de forma rápida y sencilla.">
  <meta property="og:image" content="">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.tiocripto.com/">
  <meta property="twitter:title" content="Tío Cripto - Finanzas explicadas con memes y manzanas 🍎">
  <meta property="twitter:description" content="Aprende a manejar tu dinero de forma rápida y sencilla.">
  <meta property="twitter:image" content="">





  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Animate CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" type="text/css"/>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" type="text/css">




</head>
